.main-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
}

.content {
    display: flex;
}

.button1 {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 15px 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.button1:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.button1:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.button1:active {
    background-color: #808080;
}
.button1:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}

.buttons-in-main-menu {
    display: inline-block;
    margin: 0 50px 0 50px;
    overflow: hidden;
}

.buttons-on-right {
    justify-content: center;
    display: flex;
    background-color: #b5e6eb;
    margin: 0;
}

.info-container {
    display: table-cell;
}

.info-container div {
    font-weight: bold;
}

.info-container div span {
    font-weight: normal;
}

.info-container div li {
    font-weight: normal;
}

.info-container div ul {
    margin: 0 0 10px 0;
}

.background-righter {
    background-color: #9ea4b0;
    display: table-cell;
    margin: 20px 40px 0 0;
    width: 100px;
}

.account-main {
    display: table;
    min-height: 150px;
    table-layout: fixed;
    width: 100%;
    margin-top: 25px;
}

.scroll-bar-wrap {
    flex: 0 0 220px;
    display: inline-block;
    background-color: azure;
}
.buttons-on-left {
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
    display: inline-block;
}
.buttons-on-left::-webkit-scrollbar {
    width: .4em;
}
.buttons-on-left::-webkit-scrollbar,
.buttons-on-left::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.buttons-on-left::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}
.cover-bar {
    position: absolute;
    background: #fff;;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    -webkit-transition: all .5s;
    opacity: 1;
}

.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}

.table1 {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}
.table1 thead tr {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #EDEDED;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
.table1 tr th:first-child, .table1 tr td:first-child {
    border-left: 1px solid #ddd;
}
.table1 tr th:last-child, .table1 tr td:last-child {
    border-right: 1px solid #ddd;
}
.table1 thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table1 thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table1 tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table1 tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.table1 tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table1 tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table1 tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

.tables-container {
    flex: auto;
}


.buttons-in-menu button {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display:block;
    width:120px;
    font-size: 14px;
    text-align:center;
    height: 20px;
    line-height: 20px;
    margin: 20px auto 10px;
    padding: 4px 6px;
    vertical-align: middle;
    text-decoration:none;
}
.buttons-in-menu button:hover, .buttons-in-menu button:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
